---
import "@/styles/cv.css";

const humanize = new Intl.DateTimeFormat("en-US", {
  month: "short",
  year: "numeric",
});

function formatRange(start: string, end: string) {
  const startDate = new Date(start);
  const endDate = end === "Present" ? new Date() : new Date(end);

  const humanStart = humanize.format(startDate);
  const humanEnd = end === "Present" ? "Present" : humanize.format(endDate);

  const durationMs = endDate.getTime() - startDate.getTime();
  const years = Math.floor(durationMs / (1000 * 60 * 60 * 24 * 365));
  const months = Math.floor((durationMs / (1000 * 60 * 60 * 24 * 30)) % 12);

  const humanDuration =
    months > 0 ? `${years} years, ${months} months` : `${years} years`;

  return `${humanStart} → ${humanEnd} · (${humanDuration})`;
}

function formatInstant(date: string) {
  return humanize.format(new Date(date));
}
---

<meta name="viewport" content="width=device-width,initial-scale=1.0" />

<head>
  <title>Lachlan McKay - CV</title>
</head>

<main>
  <section id="header">
    <div class="name-and-pic">
      <h1>Lachlan McKay</h1>
      <img class="profile" src="/cv/assets/profile.png" />
    </div>
    <p class="subheading">Fullstack Software Developer</p>
  </section>

  <ul class="contact">
    <li>
      <a class="mailto" href="mailto:lokimckay@gmail.com">
        <img src="/cv/assets/email.svg" /> lokimckay@gmail.com
      </a>
    </li>
    <li>
      <a href="https://github.com/lokimckay">
        <img src="/cv/assets/github.svg" /> github.com&#x2F;lokimckay
      </a>
    </li>
    <li class="print-hide">
      <a href="/cv/assets/Lachlan_McKay_CV.pdf">
        <img src="/cv/assets/download.svg" /> Download as PDF
      </a>
    </li>
  </ul>

  <section id="experience">
    <h2>Experience</h2>

    <div class="card">
      <strong>Founder</strong> - Code Cabana<br />
      <time>
        <em>{formatRange("2023-04-01", "Present")}</em>
      </time>
      <p>
        Shopify, Squarespace and Wordpress freelancing for small business
        owners.
      </p>
    </div>

    <div class="card">
      <strong>Software Engineer</strong> - Liquid Interactive<br />
      <time>
        <em>{formatRange("2020-02-01", "2023-04-01")}</em>
      </time>
      <p>Development of JAMstack, .NET, Mulesoft and Sitecore projects.</p>
    </div>

    <div class="card">
      <strong>Lecturer</strong> - Queensland University of Technology<br />
      <time>
        <em>{formatRange("2017-07-01", "2020-02-01")}</em>
      </time>
      <p>Lead classes of ~30 students learning about software design.</p>
    </div>

    <div class="card">
      <strong>Software Developer</strong> - Suncorp Bank<br />
      <time>
        <em>{formatRange("2016-02-01", "2020-02-01")}</em>
      </time>
      <p>Development of the .NET Internet Banking web portal.</p>
    </div>
  </section>

  <section id="skills">
    <h2>Skills</h2>
    <p>
      JavaScript, TypeScript, React, Node.js, NextJS, Git, Docker, PostgreSQL,
      Rust, Dioxus.
    </p>
  </section>

  <section id="certifications">
    <h2>Certifications</h2>

    <div class="card">
      Mulesoft Certified Developer Level 1<br />
      <time>
        <em>{formatInstant("2021-01-11")}</em>
      </time>
    </div>

    <div class="card">
      AWS Training - Architecting on AWS<br />
      <time>
        <em>{formatInstant("2017-04-01")}</em>
      </time>
    </div>
  </section>

  <section id="education">
    <h2>Education</h2>
    <div class="card">
      <strong>Bachelor of Games Design</strong> - Griffith University<br />
      <span class="time"><em>January 2015</em></span><br />
    </div>
  </section>
</main>
